.container-form {
    flex-basis: 100%;
    display: flex;
}

.container-form form {
    display: inline-flex;
    gap: 15px;
    flex: 1;
}

.container-form form .container-input {
    flex: 1 1 100%;
}

.container-form form .container-input input[type='text'] {
    margin: 0;
    width: 100%;
}

.container-form form .group-button {
    flex-direction: row;
    display: inline-flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.container-form form .group-button .container-button {
}

.container-form form .group-button .container-button button {
    margin: 0;
}
